/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reem+Kufi:wght@400..700&display=swap');
* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('TechTribe/images/background.jpg');
}

/* Main content */
.content {
    flex: 1;
    padding: 2rem;
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

/* Responsive design */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
        left: -200px;
    }

    .sidebar-visible .content {
        margin-left: 200px;
    }
}
.jobDescription{
    margin: 80px;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
}

.jobDescription p{
    padding: 20px;
    font-size: 20px;
}

#applyButton{
    padding:15px 20px;
    float: right;
    margin: 0 80px;
    border-radius: 0.5rem;
    color: white;
    background: #216ce7;
    border: 2px solid rgb(243, 243, 243);
}
